@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.btn {

    @include labels-buttons;
    background-color: $primary-color-2;
    color: $primary-color-4;
    border-radius: .3125rem;
    border: none;
    font-weight: 600;
    min-width: 9.375rem;
    height: 40px;
    margin: $mobile-spacing-between-components 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

        @include tablet {
            font-weight: 600;
        }

    &__img {
        position: absolute;
        left: .625rem;
    }

    &:hover {
        background-color: $secondary-color-2;
    }
}