@use "./variables" as *;
@use "./mixins" as *;

@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    src: url("../../assets/fonts/alternative_files/AvenirNextLTPro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
    src: url("../../assets/fonts/alternative_files/AvenirNextLTProDemi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
    src: url("../../assets/fonts/alternative_files/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir";
}