@use "./variables"as *;

// Media Queries
@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

// Spacing

@mixin header-spacing-mobile-top-bottom {
    margin-top: $mobile-spacing-before-headlines;
    margin-bottom: $mobile-spacing-after-headlines;
}

@mixin header-spacing-mobile-left-right {
    margin-left: $mobile-spacing-between-components;
    margin-right: $mobile-spacing-between-components;
}

@mixin header-spacing-top-bottom {
    margin-top: $spacing-before-headlines;
    margin-bottom: $spacing-after-headlines;
}

@mixin header-spacing-left-right {
    margin-left: $spacing-between-components;
    margin-right: $spacing-between-components;
}

// Font-Styling
@mixin page-header ($add-spacing-tb: false, $add-spacing-lr: false) {
    font-size: $mobile-header-font;
    line-height: 2rem;
    font-weight: 700;

    @if $add-spacing-tb {
        @include header-spacing-mobile-top-bottom;
    }
    @if $add-spacing-lr {
        @include header-spacing-mobile-left-right;
    }

    @include tablet {
        font-size: $page-header-font;
        line-height: 2.75rem;
        font-weight: 700;

        @if $add-spacing-tb {
            @include header-spacing-top-bottom;
        }

        @if $add-spacing-lr {
            @include header-spacing-left-right;
        }

    }
}

@mixin section-header ($add-spacing-tb: false, $add-spacing-lr: false) {
    font-size: $mobile-section-header-font;
    line-height: 1.25rem;
    font-weight: 700;

    @if $add-spacing-tb {
        @include header-spacing-mobile-top-bottom;
    }
    @if $add-spacing-lr {
        @include header-spacing-mobile-left-right;
    }

    @include tablet {
        font-size: $section-header-font;
        line-height: 1.25rem;
        font-weight: 700;

        @if $add-spacing-tb {
            @include header-spacing-top-bottom;
        }

        @if $add-spacing-lr {
            @include header-spacing-left-right;
        }
    }
}

@mixin subheader ($add-spacing-tb: false, $add-spacing-lr: false) {
    font-size: $mobile-subheader-font;
    line-height: 1.125rem;
    font-weight: 700;

    @if $add-spacing-tb {
        @include header-spacing-mobile-top-bottom;
    }
    @if $add-spacing-lr {
        @include header-spacing-mobile-left-right;
    }

    @include tablet {
        font-size: $subheader-font;
        line-height: 1.375rem;
        font-weight: 700;

        @if $add-spacing-tb {
            @include header-spacing-top-bottom;
        }

        @if $add-spacing-lr {
            @include header-spacing-left-right;
        }
    }
}

@mixin body-copy ($spacing-top: false, $spacing-right: false, $spacing-bottom: false, $spacing-left: false) {
    font-size: $mobile-body-copy-font;
    line-height: 1.125rem;
    font-weight: 400;

    @if $spacing-top {
        margin-top: $mobile-spacing-between-components;
    }

    @if $spacing-right {
        margin-right: $mobile-spacing-between-components;
    }

    @if $spacing-bottom {
        margin-bottom: $mobile-spacing-between-components;
    }

    @if $spacing-left {
        margin-left: $mobile-spacing-between-components;
    }

    @include tablet {
        font-size: $body-copy-font;
        line-height: 1.375rem;
        font-weight: 400;
    }
}

@mixin labels-buttons {
    font-size: $mobile-labels-buttons-font;
    line-height: .625rem;
    font-weight: 700;

    @include tablet {
        font-size: $labels-buttons-font;
        line-height: 1.25rem;
        font-weight: 700;
    }
}
