//Colors
$primary-color-1: #323232; // BrainFlix-Black
$primary-color-2: #0095FF; // BrainFlix-Blue
$primary-color-3: #AFAFAF; // Silver
$primary-color-4: #FFFFFF; // White

$secondary-color-1: #000000; // BrainFlix-DarkBlack
$secondary-color-2: #0065AD; // BrainFlix-DarkBlue
$secondary-color-3: #E1E1E1; // Mercury
$secondary-color-4: #FAFAFA; // Alabaster

// Spacing
$mobile-spacing-before-headlines: 1.5rem;
$mobile-spacing-after-headlines: 1rem; 
$mobile-spacing-between-components: 1rem;

$spacing-before-headlines: 3rem;
$spacing-after-headlines: 2.25rem;
$spacing-between-components: 2.25rem;

//Font-sizes 
$mobile-header-font: 1.5rem; 
$mobile-section-header-font: .75rem;
$mobile-subheader-font: .8125rem; 
$mobile-body-copy-font: .8125rem; 
$mobile-labels-buttons-font: .625rem;

$page-header-font: 2.0625rem; 
$section-header-font: .75rem;
$subheader-font: .875rem;
$body-copy-font: .875rem;
$labels-buttons-font: .75rem;

// Breakpoints
$tablet: 768px;
$desktop: 1280px;