@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.next-video {
    display: flex;
    margin-bottom: $mobile-spacing-between-components;
    text-decoration: none;
    color: $secondary-color-1;

    @include tablet {
        min-width: 20rem;
    }

    &__title {
        @include section-header(true);
        color: $primary-color-3;
    }

    &__img {
        flex: 1;
        aspect-ratio: 16/9;
        overflow: hidden;
        border-radius: .25rem;
        max-width: 6.25rem;

        &-item{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-left: $mobile-spacing-between-components;
        justify-content: space-between;
        width: 60%;

        &-title {
            @include body-copy;
            font-weight: 600;
            max-width: 10.625rem;

            @include tablet {
                font-weight: 600;
            }
        }

        &-channel {
            @include body-copy;
        }
    }
}