@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {

    &__current {
        @include desktop {
            display: flex;
            padding: 0 10%;
        }
        
        &-details {
            margin-left: $mobile-spacing-between-components;
            margin-right: $mobile-spacing-between-components;

            @include tablet {
                margin-left: $spacing-between-components;
                margin-right: $spacing-between-components;
            }

            @include desktop {
                border-right: .0625rem solid $secondary-color-3;
                margin-left: 0;
                min-width: 65%;
            }
        }

        &-comments {
            margin-left: $mobile-spacing-between-components;
            margin-right: $mobile-spacing-between-components;

            @include tablet {
                margin-left: $spacing-between-components;
                margin-right: $spacing-between-components;
            }
        }
    }

    &__next-videos {
        margin-left: $mobile-spacing-between-components;
        margin-right: $mobile-spacing-between-components;

        @include tablet {
            margin-left: $spacing-between-components;
            margin-right: $spacing-between-components;
        }

        @include desktop {
            margin-left: 0;
            margin-right: 0;
        }
    }
    
}


