@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $mobile-spacing-between-components $mobile-spacing-between-components 0;

    @include tablet {
        flex-direction: row;
        margin-top: 0;
        justify-content: space-between;
        align-items: center;
    }
    
    &__img {
        margin-bottom: $mobile-spacing-between-components;
        width: 7.5rem;
        
        &-item {
            width: 100%;
        }

        @include tablet {
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }


    &__form {
        display: flex;
        width: 100%;
        flex-direction: column;

        @include tablet {
            width: 70%;
        }

        @include desktop{
            width: 50%;
        }

        &-search {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-wrap: wrap;

            @include tablet {
                flex-wrap: nowrap;
                align-items: center;
            }

            &-box {
                margin-right: $mobile-spacing-between-components;
                height: 2.5rem;
                flex-basis: 14.375rem;
                flex-grow: 1;
                background-image: url("../../assets/images/icons/search.svg");
                background-repeat: no-repeat;
                background-position: left .625rem center;
                background-size: 1.25rem;
                background-color: $secondary-color-4;
                border-radius: .3125rem;
                border: .0625rem solid $secondary-color-3;
                text-indent: 2.5rem;

                    &::placeholder {
                        text-indent: 2.5rem;
                        color: $secondary-color-1;
                    }
                
                @include tablet {
                    width: 100%;
                }
            }
           
            .profile-pic {
                
                @include tablet {
                    order: 1;
                    margin: 0 1rem;
                }
            }

            .link {
                display: block;
                text-decoration: none;

                width: 100%;

                @include tablet {
                    width: 30%;
                }

                @include desktop {
                    width: 25%;
                }
            }

            .btn {
                width: 100%;
            }
        }
    }
}