@use "../../styles/partials/variables" as *;
@use "../../styles//partials/mixins" as *;

.comments-section {

  &__length {
    @include body-copy(false, false, true);
    font-weight: bold;

    @include tablet {
      font-weight: bold;
    }
  }

  .add-comments {
    display: flex;

    @include tablet {
      align-items: flex-end;
      margin-bottom: $spacing-between-components;
    }

    @include desktop {
      margin-right: $mobile-spacing-between-components;
    }
    
    .profile-pic  {
      margin-top: $body-copy-font;
    }

    &__form {
      margin-left: $mobile-spacing-between-components;
      width: 100%;

        &-title {
          @include section-header;
          color: $primary-color-3;
        }

        &-section {

          @include tablet {
            display: flex;
          }

          &-textarea {
            width: 100%;
            height: 7.5rem;
            background-color: $secondary-color-4;
            border: .125rem solid $secondary-color-3;
            border-radius: .3125rem;
            padding-left: 1rem;
            padding-top: .625rem;
            resize: none;

            &::placeholder {
              color: $secondary-color-1;
            }

            @include tablet {
              height: 2.5rem;
            }
            
          }
  
          .btn {
            width: 100%;
            margin-bottom: 0;

            @include tablet {
              width: 9.375rem;
              margin-top: 0;
              margin-left: $mobile-spacing-between-components;
            }
          }
        }

    }
  }

  .comment {
      display: flex;
      padding: $mobile-spacing-between-components 0;
      border-top: .125rem solid $secondary-color-3;
      margin-top: $mobile-spacing-between-components;
      margin-bottom: $mobile-spacing-between-components;
  
      &:last-child {
        border-bottom: .125rem solid $secondary-color-3;
        margin-bottom: $mobile-spacing-between-components;

        @include desktop {
          border-bottom: none;
          margin-bottom: 5rem;
        }
      }
  
      &__img {
        width: 2.5rem;
        height: 2.5rem;
        background-color: $secondary-color-3;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: $mobile-spacing-between-components;
      }
  
      &__details {
        width: 100%;

        &-header {
          display: flex;
          justify-content: space-between;
          padding-bottom: .3125rem;
  
          &-name {
            font-weight: 600;
            color: $secondary-color-1; 
          }
  
          &-date {
            color: $primary-color-3;

            @include desktop {
              margin-right: 1rem;
            }
          }
        }

        &-post {
          @include body-copy;
          color: $primary-color-1;

          @include desktop {
            margin-right: $spacing-between-components;
          }
        }
      }
    }
}