.profile-pic {
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    flex-grow: 0;
}