@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.seperate {
    background-color: $primary-color-3;
    border: 0;
    height: .0625rem;
}

.upload {
    margin-left: $mobile-spacing-between-components;
    margin-right: $mobile-spacing-between-components;

    @include tablet {
        margin-left: $spacing-between-components;
        margin-right: $spacing-between-components;
    }

    &__title {
        @include page-header(true);
        font-weight: 600;
        margin-top: 0;
        padding-top: 1.5rem;

        @include tablet {
            font-weight: 600;
            margin-top: 0;
            padding-top: 3rem;
            padding-bottom: $spacing-between-components;
            border-bottom: .0625rem solid $primary-color-3;
        }
    }

    &__form {

        @include desktop {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-right: 0;
        }

        &-img {

            @include desktop {
                width: 25%;
                margin-right: $spacing-between-components;
            }

            &-description {
                @include section-header;
                color: $primary-color-3;
            }

            &-item {
                width: 100%;
                border-radius: .25rem;

                @include tablet {
                    width: 50%;
                }

                @include desktop {
                    width: 100%;
                }
            }
        }

        .inputs {

            @include desktop {
                width: 72%;
            }
            
            &__label {
                display: flex;
                flex-direction: column;
                margin-top: $mobile-spacing-between-components;
                @include section-header;
                color: $primary-color-3;

                &-input {
                    background-color: $secondary-color-4;
                    border: .125rem solid $secondary-color-3;
                    border-radius: .3125rem;
                    padding-left: 1rem;

                    &::placeholder {
                        color: $primary-color-1;
                    }
                   

                    &--title-box {
                        height: 2.5rem;
                        padding-top: .3125rem;
                    }

                    &--textarea {
                        padding-top: .625rem;

                        @include tablet {
                            margin-bottom: $spacing-between-components;
                            height: 5rem;
                        }
                    }
                }
            }
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                justify-content: flex-end;
                border-top: .0625rem solid $primary-color-3;
;
            }

            @include desktop {
                margin-top: $spacing-between-components;
                width: 100%;
            }

            .btn {
                width: 100%;
                order: -1;

                @include tablet {
                    order: 1;
                    width: 20%;
                }
                @include desktop {
                    width: 10%;
                    margin-left: $spacing-between-components
                }
            }
    
            .cancel-btn {
                @include labels-buttons;
                background-color: $primary-color-4;
                color: $primary-color-2;
                border-radius: .3125rem;
                border: none;
                font-weight: 600;
                min-width: 9.375rem;
                width: 100%;
                height: 2.5rem;
                margin: $mobile-spacing-between-components 0;
                display: flex;
                justify-content: center;
                align-items: center;
            
                    @include tablet {
                        font-weight: 600;
                        width: 20%;
                    }

                    @include desktop {
                        width: 10%;
                    }
            
                &:hover {
                    background-color: $secondary-color-3;
                }
            }
        }

    }
}