@use "../../styles/partials/mixins.scss" as *;
@use "../../styles//partials/variables" as *;

.video__details {

    &-title {
        @include page-header(true);

        @include desktop {
            margin-bottom: 0;
        }
    }

    .video-stats {
        display: flex;
        flex-wrap: wrap;
        border-top: .0625rem solid $secondary-color-3;
        border-bottom: .0625rem solid $secondary-color-3;

        @include tablet {
            flex-wrap: nowrap;
            align-items: baseline;
            border-top: none;
        }

        &__channel {
            width: 50%;
            @include body-copy(true, false, true, false);
            font-weight: bold;

            @include tablet {
                font-weight: bold;
                white-space: nowrap;
                width: auto;
                margin-right: $spacing-between-components;
            }
        }

        &__views {
            display: flex;
            width: 50%;

            @include tablet {
                align-items: baseline;
                width: auto;
                margin-right: 1rem;
            }

            &-img{
                height: $mobile-body-copy-font;
                margin-top: $mobile-spacing-between-components;
                margin-bottom: $mobile-spacing-between-components;
            }

            &-amount {
                color: $primary-color-3;
                @include body-copy(true, false, true, true);
            }

        }

        &__time {
            width: 50%;
            color: $primary-color-3;
            @include body-copy(false, false, true, false);

            @include tablet {
                width: auto;
                margin-left: auto;
                margin-right: $spacing-between-components;
            }

        }

        &__likes {
            display: flex;
            width: 50%;
            color: $primary-color-3;

            @include tablet {
                align-items: baseline;
                width: auto;
            }
            
            @include desktop {
                margin-right: $mobile-spacing-between-components;
            }

            &-img {
                height: $mobile-body-copy-font;
                margin-bottom: $mobile-spacing-between-components;
            }

            &-amount {
                @include body-copy(false, false, true, true);
            }
        }
    }

    &-description {
        color: $secondary-color-1;
        @include body-copy(true, false, true);

        @include desktop {
            margin-right: $spacing-between-components;
        }
    }
}